<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">{{ err }}</li>
</ul>

<div class="card bg-dark text-white my-2">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

<!-- FORMULARIO CREAR CLIENTE -->
<form #clienteForm="ngForm">

  <!-- CAMPO NOMBRE DEL FORMULARIO-->
  <div class="form-group row">
    <label for="nombre" class="col-form-laber col-sm-2">Nombre</label>
    <div class="col-sm-6">
        <input type="text" name="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->

        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
            Nombre es requerido
          </div>
          <div *ngIf="nombre.errors.minlength">
            Nombre debe tener al menos 4 caracteres
          </div>
        </div>

    </div>
  </div>

<!-- CAMPO APELLIDO DEL FORMULARIO-->
  <div class="form-group row">
    <label for="apellido" class="col-form-laber col-sm-2">Apellido</label>
    <div class="col-sm-6">
        <input type="text" name="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="apellido.errors.required">
            Apellido es requerido
          </div>
        </div>
    </div>
  </div>

<!-- CAMPO EMAIL DEL FORMULARIO-->
  <div class="form-group row">
    <label for="email" class="col-form-laber col-sm-2">Email</label>
    <div class="col-sm-6">
        <input type="text" name="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required email -->
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="email.errors.required">
            Email es requerido
          </div>
          <div *ngIf="apellido.errors.email">
            Email debe tener un formato válido
          </div>
        </div>
    </div>
  </div>

<!-- CAMPO FECHA DEL FORMULARIO-->
  <div class="form-group row">
    <label for="apellido" class="col-form-laber col-sm-2">Fecha</label>
    <div class="col-sm-6">
        <input matInput [matDatepicker]="picker" name="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display:inline; width:300px;">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>

<!-- BOTON CREAR -->
  <div class="form-group row">
      <div class="col-sm-6">
        <button role="button" class="btn btn-primary" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

<!-- BOTON EDITAR -->
        <ng-template #elseBlock>
          <button role="button" class="btn btn-primary" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
        </ng-template>
      </div>
  </div>

</form>


  </div>
</div>
